<%= render "layouts/header" %>
<div class="jumbotron jumbotron-fluid4">
  <div class="container">
    <h1 class="display-4">Food</h1>
    <!--<p class="lead">Watch content, curated from the spaces you love.</p> -->
  </div>
</div>



<div id="curator-feed-foodcooking"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>