

<%= render "layouts/header" %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Curated Video Network</h1>
    <p class="lead">Watch content, curated from the spaces you love.</p>
  </div>
</div>

<h1 align="center"><span class="badge badge-secondary">Trending in Tech</span></h1>
<P></P>
<!-- Place <div> tag where you want the feed to appear -->
<div id="waterfall-10"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Magic</a></div>


<h1 align="center"><span class="badge badge-secondary">Trending in Culture</span></h1>
<P></P>
<!-- Place <div> tag where you want the feed to appear -->
<div id="curator-feed-culture"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Magic</a></div>