<%= render "layouts/header" %>
<div class="jumbotron jumbotron-fluid5">
  <div class="container">
    <h1 class="display-4">Technology</h1>
    <!--<p class="lead">Watch content, curated from the spaces you love.</p> -->
